*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    width: 20rem;
    background-color: orangered;
    color: white;
    padding: 20px 0;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

