*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("asset/bg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
/* -----------------------NavBar------------------ */
nav{
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    margin-left: 5%;
    height: 4vh;
}
nav ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav button{
    margin-right: 5%;
    padding: 10px 25px;
    border: none;
    font-size: 15px;
    font-weight: 800;
    background-color: deeppink;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

/* ------------------hero section------------------------ */

.hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px auto;
}
.hero h1{
    text-align: center;
    font-size: 70px;
}
.hero p{
    font-size: 20px;
}
.hero button{
    margin-top: 3%;
    padding: 10px 20px;
    font-size: 30px;
    background-color: deeppink;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
}